body {
    font-size:22px;
}

.sleti_area {
    margin-left:15%;
    margin-right:15%;
    margin-bottom:50px;
    margin-top:50px;
    padding:20px;
    white-space: nowrap;
    overflow:scroll;
    height:350px;
}

.slti {
	margin:0;
}


.comment_area {
    margin-left:15%;
    margin-right:15%;
    margin-bottom:50px;
    padding:20px;
}

.comment_header {
    margin:0;
    font-size:15px;
}

.comment {
    margin-top:0;
    margin-bottom:30px;
}

.make_sled_area {
    margin-left:15%;
    margin-right:15%;
    margin-bottom:50px;
    padding:20px;
}
