body {
    font-size:20px;
}

.sleti_block {
    margin-left:20%;
    margin-right:20%;
    margin-bottom:50px;
    margin-top:50px;
    white-space: nowrap;
    overflow:scroll;
    height:200px;
}

.slti {
}


.comment_block {
    margin-left:20%;
    margin-right:20%;
    margin-bottom:50px;
}

.comment_header {
    font-size:15px;
}

.comment {
}

.make_sled_block {
    margin-left:20%;
    margin-right:20%;
    margin-bottom:50px;
}
