.sleti {
    font-size: 20px;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:50px;
    margin-top:50px;
}


.comment {
    font-size: 20px;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:50px;
}

.make_sled {
    font-size: 20px;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:50px;
}
